@import "tailwindcss";


h1{
  font-size: 50px;
  white-space : no-wrap;
  text-decoration: underline;
  
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* state cards CSS*/
.card {
  position: relative;
  color: white;
  width: 350px;
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px) brightness(0.6);
  transform: scale(1.1);
  z-index: -1;
}
.card ul {
  list-style: none;
}
.card .about {
  border-width: 1px 1px 1px 1px;
  border-color: rgba(255, 255, 255, 0.377);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
